body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    line-height: 1.5;
    font-size: 14px;
}
.header {
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    background-color: #9CAFD5;
    position: relative;
}
.footer {
    display: block;
    margin: 0;
    padding: 30px 0 30px;
    box-sizing: border-box;
    background-color: #9CAFD5;
}
.main {
    display: block;
    width: 90%;
    height: auto;
    margin: 30px auto;
//    background-color: #E4E6CE;
    background-color: #E8E8E8;
    box-shadow: 0 4px 30px 0 rgba(0,32,111,0.8);
}
.sidebar {
    margin: 0 4px;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.menu {
    padding: 10px 10px;
}
.content {
    margin: 0 4px;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
.content-title {
    line-height: 50px;
    font-size: 24px;
}
.content-base {
    margin 0 auto;
}
.content-buttons {
    width: 100%;
    padding: 10px 10px;
}
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.content-l {
    border-right: 1px solid #999999;
    width: 50%;
    height: auto;
    padding: 10px 10px;
}
.content-r {
    width: 50%;
    height: auto;
    padding: 10px 10px;
}
.content-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px;
    border-bottom: 1px solid #CECECE;
    height: auto;
}
.content-item-base {
    width: 100%;
}
.content-item-title {
    display: block;
}
.content-item-switch {
    float: right;
}
.content-item-text {
    float: right;
    width: 70%;
}
.content-left {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 10px;
}
.content-right {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
